:root {
  --color-1: #FCE9D9;
  --color-2: #F2B06B;
  --color-3: #B05F20;
  --color-4: #594F4C;
  --color-5: #2F333B;
}

body {
    background-color: var(--color-5);
    color: whitesmoke;
    font-family: Calibri, Helvetica, sans-serif;
    margin: 0;
}

header { padding: 0 10vw; }
a { color: var(--color-2); text-decoration: none; }
a:hover { color: var(--color-3); }

#gallery { 
  display: grid; grid-gap: 20px;
  grid-template-columns: repeat(12,1fr); 
  grid-template-rows: repeat(10,calc(100vw/12 - 20px)); 
}

.item { filter: grayscale(1) brightness(0.7); display: block;  object-fit: cover; width: 100%; height: 100%; transition: 0.4s; }
.item:hover { filter: none; }
.item:active { filter: none; }

@media only screen and (min-width: 600px) {
  .portrait  { grid-column: span 3; grid-row: span 4; }
  .square    { grid-column: span 2; grid-row: span 2; }
  .landscape { grid-column: span 4; grid-row: span 3; }
  .long      { grid-column: span 6; grid-row: span 2; }
}

@media only screen and (max-width: 600px) {
  .item { filter: none; }
  .portrait  { grid-column: span 12; grid-row: span 16; }
  .square    { grid-column: span 12; grid-row: span 12; }
  .landscape { grid-column: span 12; grid-row: span 6; }
  .long      { grid-column: span 12; grid-row: span 4; }
}

.view.portrait { grid-column: span 10; grid-row: span 12; }

.hidden { opacity: 0; }
.blur { filter: blur(10px); transition: 1s ease; }

#lightbox { position: absolute; top: 0; margin: 0; z-index: -1; }
#viewer { display: block; margin: auto; width: 90%; height: auto; }